
qltt-client/target/classes/.netbeans_automatic_build
qltt-client/target/classes/com/mycompany/qltt/client/CategoryController.class
qltt-client/target/classes/com/mycompany/qltt/client/NewsController.class
qltt-client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
qltt-client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
qltt-client/target/qltt-client-1.0-SNAPSHOT.jar
qltt-client/target/test-classes/.netbeans_automatic_build
qltt-server/target/classes/.netbeans_automatic_build
qltt-server/target/classes/server/ServerThread.class
qltt-server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
qltt-server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
qltt-server/target/qltt-server-1.0-SNAPSHOT.jar
qltt-server/target/test-classes/.netbeans_automatic_build
qltt-server/target/qltt-server-1.0-SNAPSHOT.jar
qltt-server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
qltt-server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
qltt-server/target/classes/server/ServerThread.class
qltt-client/target/qltt-client-1.0-SNAPSHOT.jar
qltt-client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
qltt-client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
qltt-client/target/classes/com/mycompany/qltt/client/NewsController.class
qltt-client/target/classes/com/mycompany/qltt/client/CategoryController.class
